## Apyori

In [33]:
!pip install apyori

Requirement already satisfied: apyori in c:\users\harsh\appdata\local\programs\python\python312\lib\site-packages (1.1.2)

WARNING: Ignoring invalid distribution ~otebook (C:\Users\HARSH\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~otebook (C:\Users\HARSH\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~otebook (C:\Users\HARSH\AppData\Local\Programs\Python\Python312\Lib\site-packages)

## Importing the libraries

In [34]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import csv

## Importing Dataset

In [52]:
data_set = pd.read_csv('basket_analysis.csv')
data_set

,Unnamed: 0,Apple,Bread,Butter,Cheese,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Sugar,Unicorn,Yogurt,chocolate
0,0,False,True,False,False,True,True,False,True,False,False,False,False,True,False,True,True
1,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2,2,True,False,True,False,False,True,False,True,False,True,False,False,False,False,True,True
3,3,False,False,True,True,False,True,False,False,False,True,True,True,False,False,False,False
4,4,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,994,False,True,False,False,False,False,True,False,False,False,False,False,False,True,False,True
995,995,True,False,False,False,True,False,False,False,True,True,True,False,False,False,True,False
996,996,True,False,False,False,True,True,False,False,False,False,False,False,True,False,False,True
997,997,False,False,True,True,True,False,True,True,True,False,True,False,True,False,True,True
998,998,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True

## Converting to usable form

In [69]:
data_set = data_set.drop(columns=['Unnamed: 0'])
transactions = []
for _, row in data_set.iterrows():
    transactions.append(data_set.columns[row == True].tolist())
transactions[:10]

[['Bread', 'Corn', 'Dill', 'Ice cream', 'Sugar', 'Yogurt', 'chocolate'],
 ['Milk'],
 ['Apple', 'Butter', 'Dill', 'Ice cream', 'Milk', 'Yogurt', 'chocolate'],
 ['Butter', 'Cheese', 'Dill', 'Milk', 'Nutmeg', 'Onion'],
 ['Apple', 'Bread'],
 ['Apple',
  'Bread',
  'Butter',
  'Cheese',
  'Dill',
  'Ice cream',
  'Nutmeg',
  'Unicorn',
  'Yogurt',
  'chocolate'],
 ['Butter',
  'Eggs',
  'Ice cream',
  'Kidney Beans',
  'Milk',
  'Nutmeg',
  'Onion',
  'Yogurt'],
 ['Apple', 'Cheese', 'Eggs', 'Nutmeg', 'Sugar', 'Yogurt'],
 ['Apple',
  'Corn',
  'Dill',
  'Eggs',
  'Ice cream',
  'Milk',
  'Nutmeg',
  'Onion',
  'Sugar',
  'Unicorn',
  'Yogurt',
  'chocolate'],
 ['Apple',
  'Dill',
  'Eggs',
  'Ice cream',
  'Milk',
  'Onion',
  'Sugar',
  'Unicorn',
  'chocolate']]

## Calculating the Support, Confidence and Lift

In [77]:
from apyori import apriori
basket_intelligence = apriori(transactions = transactions, min_suppoort = 0.002, min_confidence = 0.02, min_lift = 1.35)

## Raw Results

In [78]:
results = list(basket_intelligence)
results

[RelationRecord(items=frozenset({'Cheese', 'Dill', 'Onion'}), support=0.1021021021021021, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Dill'}), items_add=frozenset({'Cheese', 'Onion'}), confidence=0.2562814070351759, lift=1.38391959798995), OrderedStatistic(items_base=frozenset({'Onion'}), items_add=frozenset({'Cheese', 'Dill'}), confidence=0.2531017369727047, lift=1.4285233629137402), OrderedStatistic(items_base=frozenset({'Cheese', 'Dill'}), items_add=frozenset({'Onion'}), confidence=0.576271186440678, lift=1.4285233629137402), OrderedStatistic(items_base=frozenset({'Cheese', 'Onion'}), items_add=frozenset({'Dill'}), confidence=0.5513513513513514, lift=1.3839195979899497)]),
 RelationRecord(items=frozenset({'Cheese', 'Ice cream', 'Kidney Beans'}), support=0.1041041041041041, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Kidney Beans'}), items_add=frozenset({'Cheese', 'Ice cream'}), confidence=0.2549019607843137, lift=1.3617489776659326), OrderedStatistic(items_base=frozenset({'Cheese', 'Ice cream'}), items_add=frozenset({'Kidney Beans'}), confidence=0.5561497326203209, lift=1.3617489776659326)]),
 RelationRecord(items=frozenset({'chocolate', 'Dill', 'Milk'}), support=0.11411411411411411, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Dill'}), items_add=frozenset({'Milk', 'chocolate'}), confidence=0.28643216080402006, lift=1.3561408940436779), OrderedStatistic(items_base=frozenset({'Milk'}), items_add=frozenset({'Dill', 'chocolate'}), confidence=0.28148148148148144, lift=1.4130653266331656), OrderedStatistic(items_base=frozenset({'chocolate'}), items_add=frozenset({'Dill', 'Milk'}), confidence=0.27078384798099764, lift=1.4237529691211404), OrderedStatistic(items_base=frozenset({'Dill', 'Milk'}), items_add=frozenset({'chocolate'}), confidence=0.6, lift=1.4237529691211401), OrderedStatistic(items_base=frozenset({'Dill', 'chocolate'}), items_add=frozenset({'Milk'}), confidence=0.5728643216080401, lift=1.4130653266331656), OrderedStatistic(items_base=frozenset({'Milk', 'chocolate'}), items_add=frozenset({'Dill'}), confidence=0.5402843601895734, lift=1.3561408940436779)]),
 RelationRecord(items=frozenset({'Dill', 'Unicorn', 'chocolate'}), support=0.1011011011011011, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Dill'}), items_add=frozenset({'Unicorn', 'chocolate'}), confidence=0.2537688442211055, lift=1.3629842762198088), OrderedStatistic(items_base=frozenset({'chocolate'}), items_add=frozenset({'Dill', 'Unicorn'}), confidence=0.23990498812351543, lift=1.4265778758059042), OrderedStatistic(items_base=frozenset({'Dill', 'Unicorn'}), items_add=frozenset({'chocolate'}), confidence=0.6011904761904762, lift=1.4265778758059042), OrderedStatistic(items_base=frozenset({'Unicorn', 'chocolate'}), items_add=frozenset({'Dill'}), confidence=0.543010752688172, lift=1.3629842762198086)])]

# Visualizing

# Converting to Dataframe

In [88]:
data = []
for record in results:
    items = list(record.items)  # Convert frozenset to a list
    support = record.support
    for ordered_stat in record.ordered_statistics:
        items_base = list(ordered_stat.items_base)  
        items_add = list(ordered_stat.items_add)  
        confidence = ordered_stat.confidence
        lift = ordered_stat.lift
        data.append({
            'Base Items': items_base,
            'Added Items': items_add,
            'Support': support,
            'Confidence': confidence,
            'Lift': lift
        })
df = pd.DataFrame(data)

# Apriori

In [103]:
print(df.sort_values(by = 'Lift', ascending = False).reset_index(drop = True))

              Base Items           Added Items   Support  Confidence      Lift
0                [Onion]        [Cheese, Dill]  0.102102    0.253102  1.428523
1         [Cheese, Dill]               [Onion]  0.102102    0.576271  1.428523
2            [chocolate]       [Dill, Unicorn]  0.101101    0.239905  1.426578
3        [Dill, Unicorn]           [chocolate]  0.101101    0.601190  1.426578
4            [chocolate]          [Dill, Milk]  0.114114    0.270784  1.423753
5           [Dill, Milk]           [chocolate]  0.114114    0.600000  1.423753
6                 [Milk]     [Dill, chocolate]  0.114114    0.281481  1.413065
7      [Dill, chocolate]                [Milk]  0.114114    0.572864  1.413065
8                 [Dill]       [Cheese, Onion]  0.102102    0.256281  1.383920
9        [Cheese, Onion]                [Dill]  0.102102    0.551351  1.383920
10                [Dill]  [Unicorn, chocolate]  0.101101    0.253769  1.362984
11  [Unicorn, chocolate]                [Dill]  0.101101    0.543011  1.362984
12        [Kidney Beans]   [Cheese, Ice cream]  0.104104    0.254902  1.361749
13   [Cheese, Ice cream]        [Kidney Beans]  0.104104    0.556150  1.361749
14                [Dill]     [Milk, chocolate]  0.114114    0.286432  1.356141
15     [Milk, chocolate]                [Dill]  0.114114    0.540284  1.356141

# Eclat

In [104]:
print(df.iloc[:,[0,1,2]].sort_values(by = 'Support', ascending = False).reset_index(drop = True))

              Base Items           Added Items   Support
0                 [Dill]     [Milk, chocolate]  0.114114
1                 [Milk]     [Dill, chocolate]  0.114114
2           [Dill, Milk]           [chocolate]  0.114114
3            [chocolate]          [Dill, Milk]  0.114114
4      [Milk, chocolate]                [Dill]  0.114114
5      [Dill, chocolate]                [Milk]  0.114114
6         [Kidney Beans]   [Cheese, Ice cream]  0.104104
7    [Cheese, Ice cream]        [Kidney Beans]  0.104104
8                 [Dill]       [Cheese, Onion]  0.102102
9                [Onion]        [Cheese, Dill]  0.102102
10        [Cheese, Dill]               [Onion]  0.102102
11       [Cheese, Onion]                [Dill]  0.102102
12                [Dill]  [Unicorn, chocolate]  0.101101
13           [chocolate]       [Dill, Unicorn]  0.101101
14       [Dill, Unicorn]           [chocolate]  0.101101
15  [Unicorn, chocolate]                [Dill]  0.101101